@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
.main {
    margin: 0 69px;
    margin-top: 9.25rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    @media screen and (max-width: 1200px) {
        margin: 0 60px;
    }
    @media screen and (max-width: 900px) {
        padding: 0;
    }
    h1 {
        font-family: "Cabin", sans-serif;
    }
}
