.related-articles {
    padding: 69px;
    max-width: 1200 px;
    margin: 0 auto;
    font-size: 1.8rem;
    font-weight: bold;
    @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .related-articles-title {
        @media screen and (max-width: 400px) {
            font-size: 1.4rem;
            border-bottom: 2px solid black;
        }
    }
}
