.sidebar {
  position: fixed;
  width: 240px;
  height: 100vh;
  z-index: 999;
  display: flex;
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 60px;
  transition: all 0.5s ease;
  background-color: white;
  top: 95px;
  left: 0;
  flex-direction: column;
  .sidebar-search-wrapper {
    height: 70px;
    display: flex;
    align-items: center;
  }
}
